.AboutMe {
  .AboutMeTitle {
    font-size: 5.5rem;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: black;
    width: fit-content;
    color: white;
  }
  .AboutMeName {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  .dummy {
    font-size: 0;
  }
}
