@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  .background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Description {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h2 {
      margin-top: 30px;
      color: #fff;
      font-size: 4rem;
    }

    h4 {
      color: #fff;
      font-size: 1.5rem;
    }
    .profile {
      display: block;
      margin: 0px auto;
      width: 250px;
      height: 250px;
      border-radius: 10rem;
    }
  }
}

.Section1 {
  h2 {
    color: #111;
    font-size: 7rem;
  }
}
